/// @group theme
$grey: #474747;
$accent-color: #e8363b;
$success: #6CE5B9;
$white: #FFF;
$black: #000;
$footer-bg: #202020;
$inactive: #ccc;
$hover-color: #0D65A5;
$text-color: #8093A7;
$active-col: #ffcc00;
