@mixin box-shadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=0, Color=#E3E3E3)"; /*IE 8*/
  -moz-box-shadow: 0 0 50px 5px #E3E3E3; /*FF 3.5+*/
  -webkit-box-shadow: 0 0 50px 5px #E3E3E3; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 50px 5px #E3E3E3; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#E3E3E3); /*IE 5.5-7*/
}